@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

* { margin: 0; padding: 0; }

body {
    background-color: #BBB;
    margin: 2em;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1.5em;
    max-width: 35em;
}

h1, h2, h3 {
    font-weight: normal;
}
h1 {
    font-size: 2.25em;
    line-height: 1.333333333em;
    font-weight: bold;
}
h2 {
    font-size: 1.75em;
    line-height: 1.714285714;
    margin-top: 0.5em;
}
h3 {
    font-size: 1.25em;
    line-height: 1.714285714;
    margin-top: 0.5em;
}
p, ul, ol {
    margin-bottom: 1em;
}


canvas {
    background-color: #888;
}
figure, figcaption, section {
    display: block;
}
figure {
    padding: 0.5em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
    border: 1px solid black;
}

input[type=button], input[type=submit] {
    border-radius: 0.333em;
    background-color: #DDD;
}
input[type=button]:hover, input[type=submit]:hover {
    background-color: #EEE;
}

#reset-button {
    float: right;
    margin: 0;
}


#preset-form, #custom-form {
    display: inline-block;
}
#preset-form {
    margin-right: 2em;
}
figure {
    float: left;
}

#docs {
    clear: left;
}


input, button, select {
    font-size: inherit;
    padding: 0.25em;
    margin-right: 0.125em;
}

input { /* Chrome 18.0.1025.162 doesn't display the box shadow when the border is 2px. This is a hack just to get the shadow showing. */
    border: 1px solid grey;
}
.invalid {
    box-shadow: 0 0 0.25em red;
    background-color: #FDD;
}

samp {
    font-family: monospace;
    background-color: #AAA;
    border: 1px solid #999;
    padding: 0.25em;
    margin: 2px;
}

ol, ul {
    margin-left: 1.5em;
}
